{% extends 'base.html.twig' %}

{% block title %}Mes reservations{% endblock %}

{% block content %}

    <div class="container lead">
        <div class="mt-5">
            <h1>Mes reservations</h1>
        </div>

        {% if reservation|length > 0 %}

        <table class="table text-white">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Categorie</th>
                <th scope="col">Illustration</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            {% for item in  reservation %}

            <tr>
                <td>{{ item.items.titre }}</td>
                <td>{{ item.items.auteur }}</td>
                <td>{{ item.items.genre }}</td>
                <td><img src="/images/{{ item.items.image }}" alt="" height="60px"></td>
                <td ><a href="{{ path ('remove_item', {'id': item.items.id}) }}"><img src="/images/trash.svg" class="bg-light border border-white"  alt="eliminer"></a></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-warning text-right">
            <p class="">Nombre de reservations : {{ reservation|length }}</p>
        </div>

    </div>

{% else  %}
    <hr class="border-white">
    <p class="lead">Vous n'avez aucun document reservé</p>
{% endif%}


{% endblock %}
