{% extends 'base.html.twig' %}

{% block title %}Valider reservation{% endblock %}

{% block content %}
    <div class=" container mt-5">
        <h2>Details de ma commande</h2>
        {{ dump(recap) }}

        {% for item in recap %}
            <div>
                <img src="/images/{{ item.items.image }}" alt="" height="60px">
                <p>{{ item.items.titre }}</p>
                <p>{{ item.items.auteur }}</p>
                <p>{{ item.items.genre }}</p>
            </div>
        {% endfor %}


    </div>
    <hr>
    <div>
        <a href=""><button class="btn btn-outline-warning">Valider</button></a>

    </div>



{% endblock %}
